/*
 *    Variables 
 */

$backgroundColor: #eeeeee;
$backgroundImageUrl: "./images/code.png";
$backgroundRepeat: no-repeat;
$backgroundImageOpacity: 0.1;

/*
 *    Styles
 */

.info {
  background-color: $backgroundColor;
}

.info::after {
  content: "";
  background-image: url($backgroundImageUrl);
  background-repeat: $backgroundRepeat;
  background-size: cover;
  opacity: $backgroundImageOpacity;
}
