/*
 *    Variables 
 */

$backgroundColor: #eeeeee;
$backgroundImageUrl: "./images/code.png";
$backgroundRepeat: no-repeat;

/*
 *    Styles
 */

.info {
  background-color: $backgroundColor;
}

.info-overlay {
  background-image: url($backgroundImageUrl);
  background-repeat: $backgroundRepeat;
  background-size: cover;
}

.profile-picture {
  max-width: 400px;
  max-height: 400px;
  margin: 50px;
  border: 7px solid #00adb5;
}

.profile-description {
  background-color: #393e46;
  color: #eeeeee;
  border-radius: 25px;
  opacity: 0.45;
  padding: 25px 40px;
  margin: 20px 0;
}

.profile-description ul {
  -webkit-padding-start: 0;
  list-style-type: square;
}
