/*
 *    Variables 
 */

$backgroundColor1: #393e46;
$backgroundColor2: #00adb5;
$fontColor: #eeeeee;
$fontSize: 15px;
$linkFontSize: 24px;

/*
 *    Styles
 */

.contact {
  background: linear-gradient(
    165deg,
    $backgroundColor1 40%,
    $backgroundColor2 70%
  );
  color: $fontColor;
  font-size: $fontSize;
}

.contact hr {
  border: none;
  background-color: #eeeeee;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.contact .bottom-contact-line {
  margin-top: 35px;
  margin-bottom: 25px;
}

.contact p {
  line-height: 15px;
}

.contact a {
  color: inherit;
  text-decoration: inherit;
  font-size: $linkFontSize;
}
