/*
 *    Variables 
 */

$backgroundColor1: #393e46;
$backgroundColor2: #00adb5;

/*
 *    Styles
 */

.contact {
  background: linear-gradient(165deg, $backgroundColor1 50%, $backgroundColor2 90%);
}
