/*
 *    Variables 
 */

$backgroundColor: #eeeeee;
$backgroundImageUrl: "./images/texture.png";
$backgroundImageOpacity: 0.9;

/*
 *    Styles
 */

.experience {
  background-color: $backgroundColor;
}

.experience::after {
  background-image: url($backgroundImageUrl);
  background-repeat: repeat;
  opacity: $backgroundImageOpacity;
}
