/*
 *    Variables 
 */

/*
 *    Styles
 */

.scroll-top-button {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 60px;
  color: #222831;
  margin: 50px;
  opacity: 75%;
}
