/*
 *    Variables 
 */

/*
 *    Styles
 */

.scroll-top-button {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  font-size: 60px;
  color: rgba(0.133, 0.156, 0.192, 0.75);
  margin: 50px;
}
